.ludo_box{
	width:800px;
	height:730px;
	background-color:white;
	border:20px solid black;
	border-left-color:#7a2a05;
	border-top-color:#7a2a05;
	border-right-color:#d94700;
	border-bottom-color:#d94700;
}
.left_top{
	
	height:240px;
	
	background-color:green;
}
.left_bottom{
	
	height:240px;
	
	background-color:yellow;
}
.col1,.col2,.col3{
	height:40px;	
	border:2px solid #8a4b1f;
	
}

.right_top{
	height:240px;	
	background-color:red;
	
}
.right_bottom{
	height:240px;	
	background-color:blue;
	
}
.col_1,.col_2,.col_3,.col_4,.col_5,.col_6{
	height:70px;
	border:2px solid #8a4b1f;
}
.triangle{
	height:0;
	width:0;
	border:105px solid white;
	border-left-color:green;
	border-top-color:red;
	border-right-color:blue;
	border-bottom-color:yellow;
}